*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p{
    font-family: 'Roboto', sans-serif;
    color: rgb(22, 16, 16);
}
/*welcome section start*/
#welcome{
    display: flex;
    margin-bottom: 20px;
}
.two_column{
    width: 45%;
    margin: 30px 5%;
}
.welcome_text h1{
    font-size: 60px;
    margin: 50px 20px 20px;
}
.welcome_text span{
    color: #FD5934;
    font-family: 'Zen Tokyo Zoo', cursive;
}
 button{
    margin: 20px 0;
    padding: 12px 25px;
    border-radius: 30px;
    border: none;
    background-image: linear-gradient(to right, #FD5934, #FC9149);
    cursor: pointer;
}
.welcome_picture img{
  width: 80%;
  height: auto;
}
/*about_us section start*/
#about_us{
    display: flex;
    margin-bottom: 20px;
    background-image: url("images/about\ bg.png");
    height: 60vh;
}
.about_picture img{
   width: 90%;
   height: auto;
   margin-top: 40px;
   margin-left: -80px;
   
}
.about_text h1{
    margin: 50px 0px 20px 0px ;
}
.about_text p{
   padding-right: 80px;
}
/*recipies section start*/
#recipies{
    margin: 40px 0;
}
.food_description{
    text-align: center;
    margin: 40px 0;
}
.food_description h1{
    margin-bottom: 20px;
}
.recipies_items{
    display: flex;
    justify-content: space-evenly;
}
.food_item{
    width: 30%;
    box-shadow: 5px 8px 15px 5px rgb(148 141 141);
    border-radius: 40px;
    margin-bottom: 50px;
}
.food_item img{
    width: 100%;
    height: 350px;
    padding: 20px;
    border-radius: 50px;
}
.food_item h1{
    margin: 20px 30px;
}
.food_item p{
    margin: 10px 20px 40px 30px;
}
/*Gallery section start*/
#Gallery{
    margin: 30px 0;
    background-color: #f1d8ca63;
}
#Gallery h1{
    text-align: center;
    margin: 50px 0;
    padding-top: 40px;
}
.food_gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 80px;
    
}
.gallery_item{
    width: 24%;
    margin: 5px;
    border-radius: 10px;
}
.gallery_item img{
    width: 100%;
    height: 300px;
    border-radius: 20px;
}
